<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<!-- annotation을 이용해서 aop설정을 하였을 경우
		namespaces -> aop체크 -> <aop:aspectj-autoproxy />
	 -->

	<aop:aspectj-autoproxy />

	<bean id="cs" class="spring_aop.aspectj_annotation.CustomerServiceImple">
		<property name="email" value="suny1113@naver.com" />
		<property name="name" value="HS" />
	</bean>

	<bean id="ct" class="spring_aop.aspectj_annotation.CheckTime"></bean>

	
</beans>
